---
 

  
---
<!-- <span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:black">
</span> -->

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:black">
  <img src='src/assets/images/logo.png' alt="Ishan Roy" width="225" height="150">
</span>


<!-- <span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:black">
  Ishan Roy</span
> -->
